# Data Cleaning and Preparation
- loading, cleaning, transforming, and rearranging

## Handling Missing Data

In [2]:
import pandas as pd

In [3]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [4]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [5]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

- The built-in Python None value is also treated as NA in object arrays

In [6]:
string_data[0]=None

In [7]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### Filtering Out Missing Data

In [9]:
from numpy import nan as NA

In [10]:
data=pd.Series([1,NA,3.5, NA,7])

In [11]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [12]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

- dropna by default drops any row containing a missing value

In [13]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])

In [14]:
cleaned=data.dropna()

In [15]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [16]:
cleaned

     0    1    2
0  1.0  6.5  3.0

- Passing how='all' will only drop rows that are all NA

In [17]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

- To drop columns in the same way, pass axis=1

In [18]:
data[4]=NA

In [19]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [21]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

- Suppose you want to keep only rows containing a certain number of observations.

In [22]:
df=pd.DataFrame(np.random.randn(7,4))

In [23]:
df.iloc[:4,1]=NA

In [24]:
df.iloc[:2,2]=NA

In [29]:
df

          0         1         2         3
0 -0.214344       NaN       NaN  2.009792
1  0.870329       NaN       NaN  1.414522
2  0.509024       NaN -0.302461  1.889528
3  0.553460       NaN  1.029737 -2.167517
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

In [26]:
df.dropna()

          0         1         2         3
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

In [30]:
df.dropna(thresh=2)

          0         1         2         3
0 -0.214344       NaN       NaN  2.009792
1  0.870329       NaN       NaN  1.414522
2  0.509024       NaN -0.302461  1.889528
3  0.553460       NaN  1.029737 -2.167517
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

?????????????

### Filling In Missing Data

In [31]:
df.fillna(0)

          0         1         2         3
0 -0.214344  0.000000  0.000000  2.009792
1  0.870329  0.000000  0.000000  1.414522
2  0.509024  0.000000 -0.302461  1.889528
3  0.553460  0.000000  1.029737 -2.167517
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

In [32]:
df.fillna({1:0.5, 2:0})

          0         1         2         3
0 -0.214344  0.500000  0.000000  2.009792
1  0.870329  0.500000  0.000000  1.414522
2  0.509024  0.500000 -0.302461  1.889528
3  0.553460  0.500000  1.029737 -2.167517
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

- fillna returns a new object, but you can modify the existing object in-place

In [33]:
_ = df.fillna(0, inplace=True)

In [34]:
df

          0         1         2         3
0 -0.214344  0.000000  0.000000  2.009792
1  0.870329  0.000000  0.000000  1.414522
2  0.509024  0.000000 -0.302461  1.889528
3  0.553460  0.000000  1.029737 -2.167517
4  0.395485 -1.174856 -0.224266  2.193638
5 -2.022230  0.433540  1.311760  0.178734
6 -2.035935  1.149973 -1.680360  0.751796

In [40]:
df=pd.DataFrame(np.random.randn(7,4))
df.iloc[:4,1]=NA

In [41]:
df.fillna(1, inplace=True)

In [42]:
df

          0         1         2         3
0 -0.809271  1.000000 -1.158737  0.658631
1  0.705501  1.000000  0.414632 -0.552592
2  0.954733  1.000000  0.448296  1.061234
3 -2.110632  1.000000 -1.118066 -0.131995
4 -0.527959  0.915747  2.164560  0.259468
5  0.551908 -0.413792  0.537427  2.010121
6 -2.212135  1.471608  0.395712 -0.094089

## Data Transformation

### Removing Duplicates

In [43]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})

In [44]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [45]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [47]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

- you can specify any subset of them to detect duplicates

In [49]:
data['v1'] = range(7)

In [51]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [50]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

- duplicated and drop_duplicates by default keep the first observed value combination. Passing keep='last' will return the last one

### Transforming Data Using a Function or Mapping

In [52]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 'corned beef', 'Bacon','pastrami', 'honey ham', 'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [53]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [54]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

- we need to convert each value to lowercase using the str.lower Series method

In [55]:
lowercased=data['food'].str.lower()

In [56]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [57]:
data['animal']=lowercased.map(meat_to_animal)

In [58]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [59]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Values

In [60]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [61]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [62]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [63]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [64]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### Renaming Axis Indexes

In [65]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])

In [67]:
data.index=data.index.map(lambda x: x[:4].upper())

In [68]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

### Discretization and Binning

In [69]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [71]:
bins=[18,25,35,60,100]

In [72]:
cats=pd.cut(ages,bins)

- divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older

In [73]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

- You can treat it like an array of strings indicating the bin name

In [75]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [76]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [77]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

- pd.value_counts(cats) are the bin counts for the result of pandas.cut
- a parenthesis means that the side is open, while the square bracket means it is closed (inclusive).

In [78]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [79]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

- If you pass an integer number of bins to cut instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data.

In [80]:
data = np.random.rand(20)

In [81]:
pd.cut(data, 4, precision=2)

[(0.68, 0.89], (0.064, 0.27], (0.68, 0.89], (0.27, 0.48], (0.68, 0.89], ..., (0.68, 0.89], (0.68, 0.89], (0.68, 0.89], (0.27, 0.48], (0.48, 0.68]]
Length: 20
Categories (4, interval[float64]): [(0.064, 0.27] < (0.27, 0.48] < (0.48, 0.68] < (0.68, 0.89]]

- The precision=2 option limits the decimal precision to two digits
- A closely related function, qcut, bins the data based on sample quantiles

In [82]:
data=np.random.randn(1000)

In [83]:
cats=pd.qcut(data,4)

In [84]:
cats

[(-0.682, -0.00062], (-0.682, -0.00062], (-0.682, -0.00062], (-3.241, -0.682], (-0.00062, 0.674], ..., (-0.00062, 0.674], (-3.241, -0.682], (-0.682, -0.00062], (0.674, 3.154], (0.674, 3.154]]
Length: 1000
Categories (4, interval[float64]): [(-3.241, -0.682] < (-0.682, -0.00062] < (-0.00062, 0.674] < (0.674, 3.154]]

In [85]:
pd.value_counts(cats)

(0.674, 3.154]        250
(-0.00062, 0.674]     250
(-0.682, -0.00062]    250
(-3.241, -0.682]      250
dtype: int64

### Detecting and Filtering Outliers

In [86]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [87]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.025044    -0.006944    -0.016431    -0.013230
std       1.011182     1.002541     0.998437     0.998559
min      -3.632977    -2.956588    -3.271234    -3.206671
25%      -0.624180    -0.675444    -0.718794    -0.704592
50%       0.037767    -0.014706    -0.023289    -0.002638
75%       0.707225     0.653245     0.641997     0.672810
max       3.096493     2.780401     3.200713     3.449382

In [88]:
col = data[2]

In [90]:
col[np.abs(col)>3]

85    -3.271234
135    3.200713
484   -3.036980
934   -3.068769
Name: 2, dtype: float64

In [91]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
85   0.958397  0.563674 -3.271234  0.622117
134  1.715009  0.382952  0.262219  3.157509
135  0.502286 -0.681691  3.200713  0.583609
147 -3.632977 -0.001620  1.720959  2.247447
191 -0.794400 -1.488035  1.781736  3.199253
200  0.674365  0.361602  1.333853 -3.115088
365  3.096493  0.349374  0.133172  0.632400
474  0.497774 -0.424104  1.650373  3.449382
484  1.032719  0.318789 -3.036980 -0.352314
579  0.880049  0.208821 -0.659327 -3.111656
750 -3.582581 -1.447499  0.383759  1.465080
924  0.297570 -1.992414  1.532620 -3.206671
934 -1.095343  1.128193 -3.068769  0.842064
952 -3.153041  0.229760  0.242635 -0.192890

In [92]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.026316    -0.006944    -0.016255    -0.013603
std       1.006405     1.002541     0.996640     0.994650
min      -3.000000    -2.956588    -3.000000    -3.000000
25%      -0.624180    -0.675444    -0.718794    -0.704592
50%       0.037767    -0.014706    -0.023289    -0.002638
75%       0.707225     0.653245     0.641997     0.672810
max       3.000000     2.780401     3.000000     3.000000

- The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative

### Permutation and Random Sampling

In [93]:
choices = pd.Series([5, 7, -1, 6, 4])

In [94]:
draws = choices.sample(n=10, replace=True)
draws

0    5
0    5
4    4
2   -1
4    4
4    4
3    6
4    4
0    5
4    4
dtype: int64

### Computing Indicator/Dummy Variables

In [95]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})

In [97]:
dummies=pd.get_dummies(df['key'], prefix='key')

In [98]:
df_with_dummy = df[['data1']].join(dummies)

In [99]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [100]:
mnames = ['movie_id', 'title', 'genres']

In [101]:
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)

<ipython-input-101-b5fb323bf003>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)

In [102]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [103]:
all_genres = []

In [104]:
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [106]:
genres=pd.unique(all_genres)

In [107]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [116]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [117]:
dummies=pd.DataFrame(zero_matrix, columns=genres)

In [118]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
gen=movies.genres[0]

In [120]:
gen

"Animation|Children's|Comedy"

In [121]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [113]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [122]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices]=1

In [123]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [127]:
movies_windic

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

- A useful recipe for statistical applications is to combine get_dummies with a discretization function like cut

In [128]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [129]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

## String Manipulation

### String Object Methods

In [130]:
val='a,b,guido'

In [131]:
val.split(',')

['a', 'b', 'guido']

In [132]:
type(val.split(','))

list

- split is often combined with strip to trim whitespace (including line breaks):

In [133]:
pieces = [x.strip() for x in val.split(',')]

In [134]:
pieces

['a', 'b', 'guido']

In [135]:
first, second, third = pieces

In [136]:
first+'::'+second+'::'+third

'a::b::guido'

In [137]:
'::'.join(pieces)

'a::b::guido'

In [140]:
val.index(',')

1

In [141]:
val.find(':')

-1

- Note the difference between find and index is that index raises an exception if the string isn’t found (versus returning –1)

In [142]:
val.index(':')

ValueError: substring not found

### Regular Expressions
- Regular expressions provide a flexible way to search or match (often more complex) string patterns in text.

In [143]:
import re

In [144]:
text='foo bar\t baz \tqux'

In [145]:
text

'foo bar\t baz \tqux'

In [146]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [147]:
regex = re.compile('\s+')

In [149]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

- If, instead, you wanted to get a list of all patterns matching the regex, you can use the findall method

In [150]:
regex.findall(text)

[' ', '\t ', ' \t']

- Creating a regex object with re.compile is highly recommended if you intend to apply the same expression to many strings
- While findall returns all matches in a string, search returns only the first match.

In [151]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [152]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [153]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [154]:
m = regex.search(text)

In [156]:
text[m.start():m.end()]

'dave@google.com'

- regex.match returns None, as it only will match if the pattern occurs at the start of the string

In [157]:
print(regex.match(text))

None

- Relatedly, sub will return a new string with occurrences of the pattern replaced by the a new string

In [158]:
print(regex.sub('REDACTED',text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [160]:
print(regex.sub('1',text))

Dave 1
Steve 1
Rob 1
Ryan 1

In [161]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [162]:
regex=re.compile(pattern, flags=re.IGNORECASE)

In [163]:
m=regex.match('wesm@bright.net')

In [164]:
m.groups()

('wesm', 'bright', 'net')

In [165]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

### Vectorized String Functions in pandas

In [167]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com','Rob': 'rob@gmail.com', 'Wes': np.nan}

In [168]:
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': nan}

In [169]:
data=pd.Series(data)

In [170]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [171]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [172]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [173]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object